.review-list {
    .title {
        align-self: center;
        font-size: 25px;
        font-weight: bold;
        margin: 15px 0;
    }

    .review-item {
        margin: 30px 0;

        .star-rating {
            margin-bottom: 5px;
        }

        .reviewed-by {
            font-size: 15px;
        }

        .review-content {
            max-width: 400px;
            max-height: 140px;
            margin: 5px 0 10px;
            overflow: auto;
            word-break: break-all;
        }
    }
}